
/*Global*/
body {
    height: 100%;
    padding: 0;
    margin: 0;
    color: #484848;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

.awesomplete > ul {
    background-color: blue;
}

#container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template:
    [row1-start]"header header header header header header" 80px [row1-end]
    [row2-start]"side side main main main main" 1500px [row2-end]   
}

header {
    grid-area: header;
}

#content_wrapper {
    grid-area: main;
}

#side {
    grid-area: side;
    height: 500px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.responsive {
    width: 100%;
}

/*Header*/
header {
    box-sizing: border-box;
    border-bottom: 1px solid  rgba(235,235,235,0.75);
}

#where {
    min-width: 400px;
}


/*Navigation*/
#nav-wrapper {
    width: 100%;
}
#nav-container {
    display: flex;
    flex-flow: row nowrap;
}
#main-nav {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin-top: 1%;
}
#main-nav ul, #main-nav ul li a {
    text-decoration: none;
    color: #000;
}

#main-nav ul li {
    display: inline-block;
    text-decoration: none;
    padding: 0 20px 0 20px;
    font-size: 14px;
}

#nav-drop-down-container {
    display: none;
}

#search {
    width: 45%;
    margin: 15px 0 0 0px;
}

#where {
    width: 100%;
    height: 46px;
    text-indent: 10px;
    border-radius: 5px;
    border: 0.8px solid;
    -webkit-box-shadow: 4px 9px 25px -8px rgba(235,235,235,0.75);
    -moz-box-shadow: 4px 9px 25px -8px  rgba(235,235,235,0.75);
    box-shadow: 4px 9px 25px -8px  rgba(235,235,235,0.75);
}

/*Sidebar*/

#side {
    margin-left: 10%;
    margin-top: 10%;
}

#country_img img{
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    border-radius:1px;
    object-fit: cover;
}

/*Content*/

#content_wrapper {
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
}

#info, .ratings, .experiences, .reviews {
    font-size: 18px;
    font-weight: 300;
}

#info {
    width: 75%;
}

.country_info p{
    font-size: 18px;
}

.where, .travel_time, .language {
    display: flex;
    height: 40px;
}

.icon{
    width: 3%;
    height: 20px;
    margin: 20px 10px 0 0;
}

.icon img {
    width: 100%;
}

.trip_title {
    font-size: 30px;
 }

#info {
    margin-bottom: 5%;
}

#info_two {
    margin-bottom: 5%;
}

.exp_margin {
    margin: 30px 0 30px 0;
}

.experiences h2 {
    font-size: 18px;
}


.rate_total {
    display: flex;
}

.rate_total p {
    padding-top: 8px;
}

/*Logo*/

#logo_wrapper {
    display: flex;
    justify-content: flex-start;
    width: 10%;
}

#logo_container {
    margin: 10px 0 0 20px;
}

#logo svg {
    width: 100%;
    fill: #000 !important;
}

/*Sign Up Modal*/
#sign-up-modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: none;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

#sign-up {
    background-color: #fefefe;
    margin:15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

#sign-up input {
    width: 100%;
    height: 40px;
    margin-bottom:15px;
}

#sign-up .submit {
    width: 100%;
    height: 48px;
    background-color: rgb(253, 92, 74);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 3px;
}

/*Login Modal*/
#login-modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: none;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

#login {
    background-color: #fefefe;
    margin:15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

#login input {
    width: 100%;
    height: 40px;
    margin-bottom:15px;
}

#login .submit {
    width: 100%;
    height: 48px;
    background-color: rgb(253, 92, 74);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 3px;
}

/*Reviews*/

.review_card {
    margin: 50px 0 50px 0;
}

.review_details {
    display: flex;
}

.user_img {
width: 5%;
}

.user_img img {
    border-radius: 50%;
}

.username, .review_date {
    margin-left: 10px;
    font-size: 16px;
}

.username {
    font-weight: 700;
}

@media screen and (max-width:743px) {
    #container {
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
        grid-template:
        [row1-start]"header header header header header header" 80px [row1-end]
        [row2-start]"side side side side side side"550px[row2-end]
        [row3-start]"main main main main main main" 1500px [row3-end];  
    }

    #side {
        grid-area: side;
        height: 500px;
        position: relative;
        top: 0;
        margin-left: 0;
    }

    #logo {
        cursor: pointer;
    }

    #search {
        width: 78%;
        margin: 15px 0 0 0px;
        overflow: hidden;
    }

    #main-nav {
        display: none;
    }

    #nav-drop-down-wrapper {
        position: relative;
        width: 100%;
    }
    
    #nav-drop-down hr {
    
        margin: 5% auto;
        width: 90%;
    }
    
    #nav-drop-down-container {
        display:none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        z-index: 1;
        background-color: white;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }
    
    #nav-drop-down li, .closebtn {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 18px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    
    #nav-drop-down li a {
        text-decoration: none;
        color: #818181;
    }
    
    .closebtn {
        position: absolute;
        top:0;
        right: 25px;
        font-size: 24px;
    }

    #where {
        min-width: 350px;
        height: 46px;
        text-indent: 10px;
        border-radius: 5px;
        border: 0.8px solid;
        -webkit-box-shadow: 4px 9px 25px -8px rgba(235,235,235,0.75);
        -moz-box-shadow: 4px 9px 25px -8px  rgba(235,235,235,0.75);
        box-shadow: 4px 9px 25px -8px  rgba(235,235,235,0.75);
    }

    #logo_wrapper {
        display: flex;
        justify-content: flex-start;
        width: 15%;
    }
    
}

@media screen and (max-width:412px) {
    #where {
        min-width: 300px;
    }

}
