/*Global*/
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

#container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template:
    [row1-start] "header header header header header header" 650px [row1-end]
    [row2-start]"main main main main main main" 1000px [row2-end]
}

#background-overlay {
    background-color: transparent;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:block;
}
#header-wrapper {
    grid-area: header;
}

#content-wrapper {
    grid-area: main;
}

.responsive {
    width: 100%;
}

/*Header*/
#header-wrapper {
    width: 100%;
}

#header-container {
    width: 100%;
}

#header {
    width: 100%;
}

header #background {
    position: relative;
    height: 100%;
}

#overlay {
    position: absolute;
    top:0;
    width: 100%;
}

/*Header Nav*/

#nav-container {
    display: flex;
    flex-flow: column wrap;
}
#main-nav {
    display: flex;
    align-self: flex-end;
    width: 25%;
}
#main-nav ul {
    color: #fff;
}

#main-nav ul li {
    display: inline-block;
    text-decoration: none;
    padding: 0 20px 0 20px;
}

/*Form*/
#form-wrapper {
    margin: 0 0 0 10%;
    width: 32%;
}

#form-container {
    display: inline-block;
    background-color: white;
    width: 100%;
    height: 500px;
    border-radius: 3%;
}

#booking {
    height: auto;
    margin: 0 0 0 8%;
}

#booking .title {
    font-size: 32px;
}

#booking p {
    font-size: 16px;
}

#booking #date-title /*checkin checkout*/ {
    display: flex;
}

#checkout_title {
    margin-left: 30%;
}

input {
    height: 40px;
    text-indent: 10px;
    font-size: 14px;
}

#where /*Where input*/{
    width: 88%;
}

/*Form Guest Button*/
#guest /*Looks like an input field*/{
background-color: white;
width: 88%;
height: 40px;
border-width: 1px;
cursor: pointer;
}

#guest-wrapper {
    display: none;
    width: 88%;
    
}

#guest-container {
    background-color: white;
    height: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(214, 214, 214);
    border-radius: 2%;
}

.guest-group /*Adults, Children, Infants*/{
    display:flex;
    margin-top: 25px;
}

.group {
    margin-left: 10px;
}

.group-buttons {
    display: flex;
    width: 74%;
    justify-content: flex-end;
}

.children {
    display: flex;
    width: 71%;
    justify-content: flex-end;

}

#submit {
    display: block;
    float: right;
    margin: 25px 30px 0 0;
}
/*Nav Cards */
#nav-card-wrapper {
    margin: 0 auto;
    width: 77%;
}

#nav-card-container{
    display: flex;
    width: 77%;
    justify-content: space-between;
}

.nav-card {
    display: flex;
    background-color:#fff;
    border-radius: 3%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(197, 197, 197);
    height: 72px;
    width: 32%;
    text-decoration: none;
}

.nav-card h1 {
    font-size: 18px;
    margin: 12% 0 0 5%;
    color: #000;
}

.nav-card img {
    height:100%;
}

/*Featured Content*/
#feature-wrapper {
    width: 77%;
    margin: 5% auto;
}
#feature-container {
    width:100%;
}
#feature h2 {
    font-size: 18px;
    margin-bottom: 25px;
}

#feature img {
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    border-radius: 1%;
    object-fit: cover;
}

/*SOAR listings*/

#world {
    margin: 0;
}

.world-title {
font-size: 32px;
margin-left: 12%;
}

#listing-wrapper {
    margin: 0 auto;
    width: 77%;
}

#listing-container {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
width: 246px;
height: 280px;
}

.card-img img {
    width: 100%;
    height: 164px;
    object-fit: cover;
    border-radius: 2%;
    margin-bottom: 10px;
}

.card h1, h2 {
    font-size:18px;
    margin: 0;
}

/*Sign Up Modal*/
#modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: none;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

#sign-up {
    background-color: #fefefe;
    margin:15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

#sign-up input {
    width: 100%;
    margin-bottom:15px;
}

#sign-up .submit {
    width: 100%;
    height: 48px;
    background-color: rgb(253, 92, 74);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 3px;
}
